* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --nav-color: #131921;
}
.navbar {
  background-color: var(--nav-color);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  justify-content: center;
}

.navbar > div {
  /* border: 1px solid red; */
}
.navbar .logo {
  width: 120px;
  height: 55px;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
}
.navbar .logo img {
  width: 80%;
  height: 100%;
}

.navbar .location {
  display: flex;
  /* width: 100px; */
  width: 110px;
  height: 55px;
  padding: 0px 5px 0px 10px;
  font-size: 14px;
}
.navbar .location i {
  margin-top: 22px;
}
.navbar .location span {
  font-size: 14px;
  padding: 7px 5px;
}
.text-bold {
  font-weight: bold;
}
.navbar .search {
  display: flex;
  height: 55px;
  padding: 0px 10px;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.navbar .search select {
  height: 40px;
  outline: none;
  border: none;
  font-size: 12px;
  color: #444;
  background-color: #dadada;
  border-radius: 4px 0px 0px 4px;
}
.navbar .search input {
  height: 40px;
  outline: none;
  border: none;
  width: 650px;
}
.navbar .search button {
  height: 40px;
  outline: none;
  border: none;
  background-color: #f3a847;
  width: 40px;
  font-size: 20px;
  border-radius: 0px 4px 4px 0px;
}

.navbar .flag {
  padding-top: 5px;
  height: 55px;
}
.navbar .flag select {
  margin-top: 12px;
  height: 20px;
  outline: none;
  border: none;
  background-color: #131921;
  color: white;
  font-size: 25px;
}
.navbar .account {
  height: 55px;
  background-color: #131921;
  color: white;
  width: 140px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
}
.navbar .orders {
  height: 55px;
  background-color: #131921;
  color: white;
  width: 140px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
}
.navbar .cart-logo {
  height: 55px;
  background-color: #131921;
  color: white;
  width: 140px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
}

.secondar-navbar {
  background-color: #232f3e;
  color: white;
  display: flex;
  padding: 5px 14px;
}
.secondar-navbar > div {
  padding: 8px 10px;
  border: 1px solid #232f3e;
  border-radius: 4px;
}
.secondar-navbar > div:hover {
  border: 1px solid white;
}
/* third navbar */
.third-navbar {
  padding: 8px 20px;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.third-navbar select {
  float: right;
  border-radius: 6px;
  padding: 1px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #e3e6e6;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
/* main container */
.main-container {
  display: flex;
}
.main-container > div:nth-child(1) {
  /* border: 1px solid red; */
  width: 20%;
  /* border-right: 2px solid grey; */
}
.main-container > div:nth-child(2) {
  /* border: 1px solid red; */
  width: 80%;
}
/* main container side bar */
.main-container .side-bar {
  padding: 15px 15px 0px 25px;
  font-size: 15px;
}
.main-container .side-bar .item {
  margin: 14px 0px;
}
.main-container .side-bar .item .heading {
  margin-bottom: 4px;
  font-weight: bold;
}
.main-container .side-bar .item .sub-heading {
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: 12px;
}
.main-container .side-bar .item .content .text {
  display: block;
}
.main-container .side-bar .item .content.extra {
  margin-left: 20px;
}
/* main container content */
.main-container .content .row {
  display: flex;
}
.main-container .content .row .col-item {
  padding: 4px;
  /* border: 1px solid green; */
  width: 25%;
}
.main-container .content .row .col-item .image img {
  width: 100%;
  height: 250px;
}
.main-container .content .row .col-item .description {
  font-size: 14px;
  margin: 4px 0px;
}
.stars {
  color: orange;
}
.black {
  color: #131921;
}
.extra-top-margin {
  margin-top: 10px;
}

.main-container .side-bar .item .content .price-min-max-btn {
  display: flex;
  width: 100%;
  margin-top: 4px;
}
.main-container .side-bar .item .content .price-min-max-btn input[type="text"] {
  width: 60px;
  height: 30px;
  padding: 4px 8px;
  margin-right: 4px;
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* outline: none; */
  /* border: none; */
  border-radius: 2px;
}
.main-container .side-bar .item .content .price-min-max-btn button {
  width: 40px;
  border: 0.5px solid rgb(202, 200, 200);
  background-color: white;

  font-size: 13px;
  margin-left: 8px;
  outline: none;
  height: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
}

/* pagination */
.main-container .content .pagination {
  display: flex;
  padding: 20px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 15px;
}
.main-container .content .pagination > div {
  font-weight: lighter;
  font-size: 15px;
  margin-right: 8px;
}
.main-container .content .pagination .number {
  background-color: #e5e8ee;
  color: black;
  border: 0.5px solid black;
  padding: 4px 8px;
}

.main-container .content .need-help {
  padding: 20px 0px;
  font-size: 14px;
  border-bottom: 0.5px solid black;
}
.main-container .content .need-help .heading {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}

/* sign in */
.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 15px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.signin .first {
  font-size: 14px;
}
.signin .third {
  font-size: 12px;
}
.signin .second button {
  background-color: #ffc328;
  padding: 7px 100px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 4px 0px;
}

/* back to top */
.back-to-top {
  background-color: #485769;
  color: white;
  font-size: 14px;
  padding: 15px 0px;
  text-align: center;
  margin-top: 30px;
}

/* footer one */
.footer-one {
  background-color: #232f3e;
  padding: 50px 15% 70px 15%;
  color: white;
  display: flex;
  justify-content: center;
}
.footer-one .col {
  margin: 0px 40px;
  /* border: 1px solid green; */
  width: 200px;
}
.footer-one .col ul {
  list-style-type: none;
}
.footer-one .col ul li {
  color: #dddace;
  margin: 8px 0px;
  font-size: 14px;
}
.footer-one .col .heading {
  font-weight: bold;
}
/* footer-logos */
.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  background-color: #232f3e;
  padding: 35px;
}
.footer-logos .item.logo {
  width: 100px;
  height: 30px;
  margin: 0px 100px 0px 0px;
}
.footer-logos .item.logo img {
  width: 100%;
  height: 100%;
}
.footer-logos .item.button button {
  background-color: #232f3e;
  border: 1px solid grey;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-right: 4px;
}
/* footer-three */
.footer-three {
  background-color: #131a22;
  color: white;
  padding: 50px 15% 20px 15%;
  font-size: 11px;
}
.footer-three .row {
  color: white;
  display: flex;
  justify-content: center;
}
.footer-three .row .col {
  margin: 14px;
  /* border: 1px solid green; */
  max-width: 120px;
}
.footer-three .row .col .heading {
  font-weight: bold;
}
.footer-three .row .col .content {
  color: #dddace;
}

/* last-footer */
.last-footer {
  background-color: #131a22;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 20px 0px;
}
.last-footer span {
  margin-left: 10px;
}
